body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.text {    
    font-size: 5rem;
    font-weight: 300;
}

.red {
    color: red;
    font-weight: 700;
}

.input {
    font-size: 4rem;
    font-weight: 300;
    margin: 20px 0px;
}

.btn {
    background-color: #0092c3;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 3rem;
    margin: 10px;
    outline: none;
    padding: 15px 35px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

table {
    border-collapse: collapse;    
    margin: 10px;
}
